.topbar {
  align-items: center;
  background-color: #fff;
  color: #000c25;
  display: flex;
  font-weight: 600;
}

@media (max-width: 400px) {
  .topbar {
    height: 1.813rem;
  }
}

@media (min-width: 400px) {
  .topbar {
    height: 2.375rem;
  }
}

@media (min-width: 600px) {
  .topbar {
    height: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .topbar {
    height: 4.688rem;
  }

  .topbar__summary {
    align-items: center;
    display: flex;
  }

  .topbar__company_name {
    font-size: 1.25rem;
    margin-right: 0.5em;
  }

  .topbar__tin {
    font-size: 1.125rem;
  }

  .topbar__button_icon {
    width: 1rem;
  }
}

.topbar__middle {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .topbar__middle {
    margin-left: 0.625rem;
  }
}

@media (min-width: 900px) and (max-width: 1279px), (min-width: 1600px) {
  .topbar__middle {
    margin-left: 20rem;
  }

  .topbar__menu_button {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

.topbar__button {
  align-items: center;
  background-color: #fff;
  border: 0;
  color: inherit;
  display: flex;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.125rem;
  padding: 0;
}

@media (max-width: 400px) {
  .topbar__button {
    height: 1.813rem;
    padding: 0 0.5rem;
  }
}

@media (min-width: 400px) {
  .topbar__button {
    height: 2.375rem;
    padding: 0 0.75rem;
  }
}

@media (min-width: 600px) {
  .topbar__button {
    height: 3.5rem;
    padding: 0 1rem;
  }
}

@media (min-width: 1280px) {
  .topbar__button {
    height: 4.688rem;
  }
  
  .topbar__button:not(.topbar__config_button) {
    padding: 0 1.875rem;
  }
}

.topbar__button_text {
  font-size: 0.5rem;
}

@media (min-width: 600px) {
  .topbar__button_text {
    font-size: 0.875rem;
  }
}

@media (min-width: 1280px) {
  .topbar__button_text {
    font-size: 1.125rem;
  }
}

.topbar__button_icon + .topbar__button_text {
  margin-left: 0.313rem;
}

.topbar__summary + .topbar__button {
  margin-left: 0.063rem;
}

.topbar__middle ~ .topbar__button {
  border-left: 1px solid #f1f1f1;
}
