@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #e5e5e5;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 600px) {
  body {
    font-size: 0.438rem;
    padding-top: 1.813rem;
  }
}

@media (min-width: 400px) {
  body {
    font-size: 0.625rem;
    padding-top: 2.375rem;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 0.875rem;
    padding-top: 3.5rem;
  }
}

@media (min-width: 1280px) {
  body {
    padding-top: 4.688rem;
  }
}
